app {
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.app-wrapper {
  background: rgb(188, 227, 222);
  height: calc(100vh - 62px);
  overflow-y: auto;
  background-image: url(../../client/public/image/Dec_1_20.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-container .react-datepicker-wrapper {
  margin: 12px 0;
  width: 100%;
}

.input-container .react-datepicker-wrapper input {
  padding: 4px 12px;
}

.table-Wrapper {
  padding-bottom: 35px;
  margin: 10px 0;
  /* From https://css.glass */
  background: rgba(90, 216, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(90, 216, 255, 0.3);
}
