.moderatorWraper {
  background: rgb(188, 227, 222);
  height: calc(100vh - 65px);
  overflow-y: auto;
  background-image: url(../../../public/image/v996-008.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.cardBody {
  /* margin: 20px; */
  margin-top: 20px;
  padding: 20px;
  /* From https://css.glass */
  background: rgba(90, 216, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(90, 216, 255, 0.3);
}
